<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_bskrecord-sync._tcp</string>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>用于通过语音快速记录比赛数据</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>用于语音识别以记录比赛数据</string>
</dict>
</plist>
